/* Webfonts */
@font-face {
  font-family: "Reborn";
  src: url("./assets/fonts/reborn/Reborn.eot");
  src: url("./assets/fonts/reborn/Reborn.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/reborn/Reborn.woff") format("woff"),
    url("./assets/fonts/reborn/Reborn.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeroLight";
  src: url("./assets/fonts/hero/Hero-Light.eot");
  src: url("./assets/fonts/hero/Hero-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/hero/Hero-Light.woff2") format("woff2"),
    url("./assets/fonts/hero/Hero-Light.woff") format("woff"),
    url("./assets/fonts/hero/Hero-Light.ttf") format("truetype");
  font-weight: normal;
}

/* Root colors */
:root {
  --cream: #f1ebe5;
  --olive-green: #5f634f;
  --dark-olive: #2B2E1D;
  --honey-orange: #D18436;
}

/* General body styling */
body {
  background-color: var(--olive-green);
  color: var(--cream);
  font-family: "HeroLight", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styling */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  line-height: 50px;
  padding-top: 1em;
  /* border-bottom: var(--dark-olive) 2px solid; */
  background-color: var(--olive-green);
  z-index: 1000;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 1em;
}

.nav-logo {
  width: 60px;
  height: 60px;
}

.nav-heading,
.nav-heading:active,
.nav-heading:visited {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--cream);
}

.nav-heading {
  font-family: "Reborn", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1em;
  margin-right: 1em;
  list-style: none;
}

.nav-links a,
.nav-links a:active,
.nav-links a:visited {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  color: var(--cream);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--honey-orange);
  transition: 0.5s ease;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Footer styling */
footer {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  bottom: 0;
  position: fixed;
  padding-bottom: 1em;
  /* border-top: var(--dark-olive) 2px solid; */
  background-color: var(--olive-green);
}

.footer-credit {
  text-transform: uppercase;
}

.footer-credit a {
  color: var(--cream);
}

.footer-credit a:hover {
  color: var(--honey-orange);
}

/* Welcome Hero Section for index.html */
#welcome-hero {
  display: flex;
  gap: 100px;
  width: 70%;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

#welcome-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-hero-left > div {
  display: flex;
  align-items: center;
  gap: 2em;
}

#welcome-hero-left img {
  width: 150px;
  height: 150px;
}

#welcome-hero-left h1 {
  font-size: 2rem;
  font-family: 'Reborn', sans-serif;
  letter-spacing: 3px;
  width: min-content;
  margin: 0;
}

#welcome-hero-left p {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 3px;
  width: 80%;
}

.lp-desc {
  width: max-content !important;
}

.lp-desc:nth-of-type(1) {
  margin-bottom: 0px;
}

.lp-desc:nth-of-type(2) {
  margin-top: 0px;
}

#welcome-hero-right {
  background-color: var(--cream);
  width: fit-content;
  height: fit-content;
  padding: 1.5em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.portfolio-link {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 350px;
  padding: 1em 0;
  border: 1px solid black;
  transition: 0.5s ease;
}

.portfolio-link:hover {
  background-color: var(--honey-orange);
  color: var(--dark-olive);
  transition: 0.5s ease;
}

.social-links {
  display: flex;
  gap: 0.5em;
}

.social-link {
  width: 30px;
  height: 30px;
}

/* About Me Page  */
#about-me {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 70%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

/* Projects Page */
#projects {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 70%;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.project-card {
  width: 30%;
  padding: 50px;
  background-color: var(--cream);
  border: 3px solid var(--dark-olive);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.8s ease-in-out;
}

.project-card:hover {
  box-shadow: 10px 10px var(--dark-olive);
  transition: box-shadow 0.8s ease-in-out;
}

.project-card > h2 {
  text-align: center;
}

.project-link {
  color: black;
  text-decoration: none;
}

.project-link:hover {
  color: var(--honey-orange);
  text-decoration: underline;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 3px solid var(--dark-olive);
}

.project-card p {
  color: var(--dark-olive);
  text-align: left;
}

.project-card p:nth-of-type(2) {
  text-align: center;
}

.project-card .project-repo {
  color: var(--dark-olive);
}

.project-card .project-repo:hover {
  color: var(--honey-orange);
}

@media (max-width: 1024px) {
  #welcome-hero, #projects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
  }

  #welcome-hero-right {
    width: 100%;
    padding: 1em;
  }

  .portfolio-link {
    width: 100%;
  }

  #projects {
    flex-wrap: nowrap;
  }

  .project-card {
    width: 100%;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--olive-green);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin-right: 0;
    border: 1px solid var(--dark-olive);
  }

  .nav-links a {
    padding: 1em;
  }

  .nav-links a:hover {
    color: var(--cream);
  }

  .nav-links li {
    transition: background-color 0.5s ease;
  }

  .nav-links li:hover {
      background-color: var(--dark-olive);
      transition: background-color 0.5s ease;
  }

  .menu-icon {
    display: block;
  }

  .lp-desc {
    width: 80vw !important;
  }

  .project-card img {
    height: 150px;
  }
}

/* Desktop responsiveness */
@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }
}
