/* Webfonts */
@font-face {
  font-family: "Reborn";
  src: url("./assets/fonts/reborn/Reborn.eot");
  src: url("./assets/fonts/reborn/Reborn.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/reborn/Reborn.woff") format("woff"),
    url("./assets/fonts/reborn/Reborn.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeroLight";
  src: url("./assets/fonts/hero/Hero-Light.eot");
  src: url("./assets/fonts/hero/Hero-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/hero/Hero-Light.woff2") format("woff2"),
    url("./assets/fonts/hero/Hero-Light.woff") format("woff"),
    url("./assets/fonts/hero/Hero-Light.ttf") format("truetype");
  font-weight: normal;
}

/* Root colors */
:root {
  --cream: #f1ebe5;
  --olive-green: #5f634f;
  --dark-olive: #2B2E1D;
  --honey-orange: #D18436;
}

/* General body styling */
body {
  background-color: var(--olive-green);
  color: var(--cream);
  font-family: "HeroLight", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styling */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  line-height: 50px;
  
  padding-top: 1em;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 1em;
}

.nav-logo {
  width: 60px;
  height: 60px;
}

.nav-heading,
.nav-heading:active,
.nav-heading:visited {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--cream);
}

.nav-heading {
  font-family: "Reborn", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1em;
  margin-right: 1em;
  list-style: none;
}

.nav-links a,
.nav-links a:active,
.nav-links a:visited {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  color: var(--cream);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--honey-orange);
  transition: 0.5s ease;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Footer styling */
footer {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  bottom: 0;
  position: fixed;


  padding-bottom: 1em;
}

.footer-credit {
  text-transform: uppercase;
}

/* Welcome Hero Section for index.html */
#welcome-hero {
  display: flex;
  gap: 100px;
  width: 70%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

#welcome-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-hero-left > div {
  display: flex;
  align-items: center;
  gap: 2em;
}

#welcome-hero-left img {
  width: 150px;
  height: 150px;
}

#welcome-hero-left h1 {
  font-size: 2rem;
  font-family: 'Reborn', sans-serif;
  letter-spacing: 3px;
  width: min-content;
  margin: 0;
}

#welcome-hero-left p {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 3px;
  width: 80%;
}

#welcome-hero-right {
  background-color: var(--cream);
  width: fit-content;
  height: fit-content;
  padding: 1.5em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.portfolio-link {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 350px;
  padding: 1em 0;
  border: 1px solid black;
}

.portfolio-link:hover {
  background-color: var(--honey-orange);
  color: var(--dark-olive);
  transition: 0.5s ease;
}

.social-links {
  display: flex;
  gap: 0.5em;
}

.social-link {
  width: 30px;
  height: 30px;
}

@media (max-width: 1024px) {
  #welcome-hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #welcome-hero-right {
    width: 100%;
    padding: 1em;
  }

  .portfolio-link {
    width: 100%;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--olive-green);
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }

  .nav-links a {
    padding: 1em;
  }

  .menu-icon {
    display: block;
  }
}

/* Desktop responsiveness */
@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }
}
